<link rel="stylesheet" href="/styles/library_heading.css">
<div class="heading_box">
    <h4 class="main_title"> Media Recommendation Engine </h4>
    <div class="center_container">
        <input checked id="radioLib" type="radio" name="section" {{redirect_library|safe}}>
        <label for="radioLib"> Library </label>

        <input id="radioExp" type="radio" name="section" {{redirect_explore|safe}}>
        <label for="radioExp"> Explore </label>
    </div>
    <div class="dropdown">
        <input id="dropbtn" type="checkbox" class="hidden" title="dropbtn">
        <label id="dropbtn-label" for="dropbtn" class="dropbtn-label"> &#x2630; </label>
        <ul class="dropdown-content">
            <li id="settings-element" class="dropdown-element" {{redirect_settings|safe}}>
                <img src="/icons/settings.svg" />
                <label id="settings-label" class="dropdown-label"> Settings </label>
            </li>
            <li id="logout-element" class="dropdown-element" hx-post="/auth/logout">
                <img src="/icons/logout.svg" />
                <label id="logout-label" class="dropdown-label"> Logout </label>
            </li>
        </ul>
    </div>
</div>
<div id={{content}} hx-trigger="load" hx-get={{route}}> </div>