<div>
    <link href="/styles/login.css" rel="stylesheet" />
    <div class="login_container">
        <form action="{{post_url}}" method="post" autocomplete="off" class="login_form">
            <div class="login_heading"> {{title}} </div>
            <div class="login_input">
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="login_input">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <div class="login_input">
                <button type="submit"> Submit </button>
            </div>
        </form>
        {% if let Some(message) = message %}
        <div class="message"> {{message}} </div>
        {% endif %}
        {% if let Some(sub_text) = sub_text %}
        <div class="login_subtext"> {{sub_text|safe}} </div>
        {% endif %}
    </div>
</div>