<div class="creation_menu">
    <h3> {{title}} </h3>

    <div id={{list_id}} class="list">
        {% for entry in entries %}
        {{ entry|safe }}
        {% endfor %}
    </div>

    <div class="creation_wrapper">
        <form id="{{list_id}}_form" class="creation_form" hx-post={{post_addr}} hx-target="#{{list_id}}" hx-swap="none"
            hx-on::after-request="document.getElementById('{{list_id}}_form').reset()" autocomplete="off">
            {% for input in inputs %}
            {{ input|safe }}
            {% endfor %}
            <div class="creation_input">
                <button type="submit"> + </button>
            </div>
        </form>

        <div id={{error_id}} class="error"></div>
    </div>
</div>