<div class="settings-container">
    <link href="/styles/settings.css" rel="stylesheet" />

    <script src="/scripts/settings.js"> </script>

    <div class="upper-wrapper">
        <h1> Settings </h1>
        <button id="back-button" type="button" {{ redirect_back|safe }}> Back </button>
    </div>

    <div class="below-wrapper">

        <div class="settings-selector">

            <input checked type="radio" id="profile" name="setting" {{load_profile|safe}} {% if let
                Section::Profile=enabled_button %}checked="checked" {% endif %}>
            <label for="profile" class="input_label"> Profile </label>

            {% if let Some(load_admin) = load_admin %}
            <input type="radio" id="admin_settings" name="setting" {{load_admin|safe}} {% if let
                Section::Admin=enabled_button %}checked="checked" {% endif %}>
            <label for="admin_settings"> Admin Settings </label>
            {% endif %}

            <input type="radio" id="account_settings" name="setting" {{load_account|safe}} {% if let
                Section::Account=enabled_button %}checked="checked" {% endif %}>
            <label for="account_settings"> Account Settings </label>

        </div>

        <div class="settings" id=section hx-trigger="load" hx-get={{default_route}}>
        </div>

    </div>

</div>