<script>
    function clearForm() {
        var frm = document.getElementById("user_form");
        frm.reset();
    }
</script>

<h3> Users </h3>

<div id="user_list">
    {% for entry in users %}
    {{ entry|safe }}
    {% endfor %}
</div>

<div class="creation_wrapper">
    <form id="user_form" hx-post="/settings/user" hx-target="#user_list" hx-swap="none"
        hx-on::after-request="clearForm()" autocomplete="off">
        <div class="creation_input">
            <input type="text" name="username" placeholder="Username" required>
        </div>
        <div class="creation_input">
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="creation_input">
            <button type="submit"> + </button>
        </div>
    </form>

    <div id="creation_error"></div>
</div>