.main_title {
    color: var(--highlight_color);
    width: 20%;
}

.heading_box {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0px;
    background-color: var(--background_color);
    z-index: 100;
}

.center_container {
    display: flex;
    margin: 20px;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    padding: 10px 20px;
    background-color: var(--content_color);
    color: var(--text_white);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 4px;
}

input[type="radio"]:checked+label {
    background-color: var(--highlight_color);
    color: var(--text_white);
}

.hidden {
    display: none;
}

.dropdown {
    width: 20%;
    text-align: right;
}

.dropbtn-label {
    font-size: 40px;
    border-radius: 2px;
}

.dropbtn-label:hover {
    background-color: var(--content_color);
}

#dropbtn:checked~.dropdown-content {
    display: flex;
}

#dropbtn:checked~.dropbtn-label {
    background-color: var(--highlight_color);
}

.dropdown-content {
    list-style: none;
    display: none;
    flex-direction: column;
    float: right;
    border-radius: 7px;
    row-gap: 15px;
    border: solid;
    border-color: var(--highlight_color);
    border-width: 2px;
    background-color: var(--background_color);
    position: fixed;
    right: 8px;
    padding: 10px;
    font-size: 20px;
}

.dropdown-element {
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: left;
}

.dropdown-label {
    color: var(--text_white);
    font-size: inherit;
    padding-left: 10px;
    display: flex;
    align-items: flex-end
}

#settings-element {
    background-color: var(--content_color);
}

#settings-element:hover {
    background-color: var(--highlight_color);
}

#logout-element {
    background-color: var(--warning_color);
}

#logout-element:hover {
    background-color: var(--highlight_red);
}