#popups {
    position: absolute;
    bottom: 5vw;
    right: 0.5vw;
    z-index: 1001;
}

.popup {
    position: relative;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    background-color: var(--content_color);
}