h1 {
    margin-left: 6px;
}

.settings-wrapper {
    display: flex;
    flex-direction: row;
}

.upper-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.below-wrapper {
    display: flex;
    flex-direction: row;
}

.settings-selector {
    display: flex;
    flex-direction: column;
    width: 15%;
    min-width: 150px;
    text-align: center;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]+label {
    padding: 10px 20px;
    background-color: var(--content_color);
    color: var(--text_white);
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin: 4px;
    font-size: x-large;
}

input[type="radio"]:checked+label {
    background-color: var(--highlight_color);
    color: var(--text_white);
}

.show {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.hide {
    display: none;
}

.settings {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--content_color);
    padding: 10px;
    margin: 4px 10px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 20px;
    color: var(--text_white);
    text-align: left;
}

h2 {
    line-height: 0px;
}

h3 {
    line-height: 2px;
}

#back-button {
    padding: 10px 20px;
    background-color: var(--content_color);
    color: var(--text_white);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 4px;
    font-size: 18px;
    margin-right: 10px;
}

#back-button:hover {
    background-color: var(--highlight_color);
    color: var(--text_white);
    cursor: pointer;
}

.profile {
    flex-direction: row;
}

.profile-card {
    width: 210px;
    background: var(--foreground_color);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.profile-img {
    margin: 4px;
    margin-top: 20px;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.329);
}

#name {
    font-size: 0.9em;
    font-weight: 600;
    color: var(--text_white);
    letter-spacing: 0.5px;
}

.change-user,
.creation_wrapper {
    padding: 10px;
}

input[type="text"],
input[type="password"] {
    width: 200px;
    height: 30px;
    font-size: 15px;
    padding: 5px;
    border: 1px solid var(--text_white);
    border-radius: 5px;
    height: 28px;
    width: 200px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: var(--foreground_color);
    color: var(--text_white);
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 4px;
    font-size: 18px;
    height: 40px;
}

button[type="submit"]:hover {
    background-color: var(--highlight_color);
    color: var(--text_white);
    cursor: pointer;
}

.error {
    background-color: var(--warning_color);
    border-radius: 3px;
    margin-top: 5px;
    margin-right: 4px;
    padding: 5px;
    text-align: center;
}

.error:empty {
    display: none;
}

.creation_menu {
    background-color: var(--foreground_color);
    border-radius: 5px;
    width: 100%;
    margin-bottom: 5px;
}

.creation_menu>h3 {
    line-height: 0px;
    padding-left: 5px;
}

.creation_form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.creation_input {
    padding: 5px;
}

.creation_input>button {
    background-color: var(--normal_green);
}

.creation_input>button:hover {
    background-color: var(--highlighted_green);
}

.list {
    border: solid;
    border-color: var(--highlight_color);
    border-radius: 4px;
    margin: 4px;
}

.user_entry {
    margin: 2px 6px;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: dotted;
    border-color: var(--highlight_color);
    border-radius: 4px;
    border-width: 2px;
}

.user_entry>button {
    background-color: var(--warning_color);
    border: none;
    border-radius: 3px;
}

.user_entry>button:hover {
    background-color: var(--highlight_red);
    cursor: pointer;
}

.danger {
    width: 100%;
    background-color: var(--warning_color);
    border-radius: 6px;
}

.danger>h3 {
    text-align: center;
}

.centered {
    display: flex;
    justify-content: center;
}

.shutdown {
    background-color: var(--content_red);
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: var(--text_white);
    padding: 5px 12px;
    margin: 4px 10px;
}

.shutdown:hover {
    background-color: var(--highlight_red);
    cursor: pointer;
}